[submodule "zsh/extensions/k"]
	path = zsh/extensions/k
	url = https://github.com/supercrabtree/k
[submodule "apt-cyg"]
	path = apt-cyg
	url = https://github.com/transcode-open/apt-cyg
[submodule "zsh/extensions/wt"]
	path = zsh/extensions/wt
	url = https://github.com/ferronrsmith/git-worktree-switcher
